@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700&subset=cyrillic'; 

:root
{
--color-front:#66921b;
--color-back:#e2683c;
--color-front2:#a9c45e;
--color-middle:#f9ab00;
--color-light:#f9df7b;
--color-grey:#000000;
--color-basic:#575757;
}

body {margin:0px; font-family:"Exo 2", sans-serif; color:var(--color-basic); font-size:16px;}
p, li, span, div, td, label, input, select {color:inherit;}
a {color:var(--color-back);}
a:hover {color:var(--color-middle);}
label {display:block; width:400px; margin:0px auto 20px;}
label span {display:block; font-size:14px; color:var(--color-grey);}
input[type=text], input[type=password], select {width:calc(100% - 18px); height:28px; padding:7px; border:2px solid var(--color-grey); border-radius:8px; font-size:24px; color:inherit; transition:0.3s;}
select {width:100%; height:42px; font-size:20px;}
input[type=text]:focus, input[type=password]:focus {border:2px solid var(--color-back); outline:none;}
input::placeholder {color:var(--color-grey); font-size:16px; font-weight:300;}
h1, h2, h3 {color:var(--color-grey); margin:0px;}
h1 {font-size:32px; font-weight:500;}
h2 {font-size:24px; font-weight:500;}

.all {max-width:1058px; margin:20px auto; padding:40px 20px 20px;}
.io {position:relative;}
/*.h1 {position:absolute; width:100%; top:60px; opacity:0.7; text-align:center;}*/
.h1 {display:none;}
.main {max-width:540px; margin:auto; text-align:center;}
.popup {display:none;}
.h1 h1 {text-align:center;}
.p-large {font-size:24px; color:var(--color-front);}

#auth, #register {position:relative;}
.art-button {display:inline-block; font-weight:500; color:#ffffff; background-color:var(--color-front); border:2px solid var(--color-grey); border-radius:6px; text-align:center; font-size:24px; color:#000000; text-decoration:none; text-transform:uppercase; outline:none; transition:0.3s;}
.art-button:hover {background-color:var(--color-front2); color:#ffffff;}
.play-button {position:absolute; right: 45px; width:54px; height:24px; top:24px; padding:9px 0px 21px; font-size:48px; border-radius:32px; line-height:24px; font-weight:700; border:5px solid #ffffff; background:url(/pic/go-on.svg) center center no-repeat var(--color-front); background-size:24px 24px;}
.get-low {top:150px;}
.btn-large {padding:12px 20px; min-width:180px;}
.btn-small {padding:10px 16px; font-size:16px; width:110px;}
.art-button.art22 {background-color:var(--color-back);}
.round-button {display:block; width:48px; padding:0px 0px 8px; background:var(--color-front); color:#ffffff; font-size:44px; line-height:40px; font-weight:300; text-decoration:none; border-radius:32px; text-align:center;}
.round-button:hover {background-color:var(--color-back); color:#ffffff;}
.buy-button a {width:100px; height:40px; padding:30px 0px; border-radius:50px;}
.buy-button {margin:10px 0px;}

.quatro {display:flex; flex-wrap:wrap; justify-content: center;} 
.quatro div {width:120px; padding:15px;}
.quatro div a {display:block; width:116px; height:116px; border:2px solid var(--color-grey); border-radius:60px;}
.quatro div span {display:block; color:var(--color-grey); font-weight:500;}
.quatro-ticket a {background:url(/pic/round-ticket.svg) center center no-repeat; background-size:100px 100px;} 
.quatro-balance a {background:url(/pic/round-money.svg) center center no-repeat; background-size:100px 100px;} 
.quatro-pay a {background:url(/pic/round-card.svg) center center no-repeat; background-size:100px 100px;} 
.quatro-details a {background:url(/pic/round-calendar.svg) center center no-repeat; background-size:70px 70px;} 

.sms-code {display:none;}
label.onepay {margin-top:30px;}
.logo {position:relative; padding:0px; height:140px; margin:auto; text-align:center;}
.logo-img img {height:120px; width:auto;}
.error {display:none;}
p.error {color: #cc0000; padding: 0px 0px 4px; border-bottom: 1px solid #cc0000;}
.dual {display:flex;}
.dual > div {width:44%; padding:0px 3% 10px; text-align:center;}
.admin .dual > div:first-child {border-right:1px solid #d8d8d8;}
.balance {padding:10px; height:140px; background-color:#f8f8f8;}
.balance .money-digit {font-size:48px; color:var(--color-front); vertical-align:middle;}
.balance .money .money-currency {display:block; font-size:24px; height:40px; color:var(--color-grey);}
.real-ticket {height:140px;}
.real-ticket span {display:block; padding:20px 20px; height:50px; margin:30px 0px 20px; color:var(--color-middle); font-size:13px;}
.real-ticket a {display:block; padding:40px 15px; height:50px; margin:20px 0px; color:var(--color-back); font-size:13px; background:url(/pic/ticket-bg.png) center center no-repeat; background-size:100% auto;}
#outdiv {width:300px; height:300px; margin:10px auto; border-radius:24px; overflow:hidden;}
#outdiv video {width:100%;}
#qr-canvas {display:none;}
.admin .dual h2 {margin:20px 0px 4px;}
.register-link a {display:inline-block; height:36px; font-size:30px; color:var(--color-grey);}

.popup {position:absolute; width:720px; margin-left:-360px; top:100px; left:50%; padding:10px; background-color:#ffffff; box-shadow:2px 2px 9px #000000; border-radius:32px 0px 32px 0px;}
.popup .close {display:block; position:absolute; right:16px; top:12px; color:var(--color-back); font-size:24px; text-decoration:none;}
#addfunds {padding:60px 4% 20px;}
#addfunds label {width:220px;}

.stack {text-align:left;}
.stack h2.cntr {text-align:center;}

.fl-right {float:right;}
.search input {width:240px; height:20px; font-size:20px;}

.stack-unit {display:block; padding:2px 0px; margin:2px 0px 0px; background-color:#f0f0f0;}
.stack-unit span, .stack-unit a {display:inline-block; padding:0px 6px; border-right:1px solid #d0d0d0;}
.stack-unit .stack-name {width:40%;}
.stack-unit .stack-tariff {width:20%;}
.stack-unit .stack-role {width:30%;}
.stack-unit .stack-num {width:20%;}

.exit-button {margin-top:80px; text-align:center;}
.three-on-floor {display:block; margin-top:60px; padding:10px 0px; text-align:center;}
.three-on-floor div {display:inline-block; margin:0px 5px; vertical-align:middle;}
.forgot {text-align:right; width:130px;}
.weakview a {display:block; width:28px; height:28px; border:2px solid var(--color-grey); border-radius:16px; background:url(/pic/eye.svg) center center no-repeat; background-size:24px 24px;}
.lang {text-align:left; width:130px;}
.lang a {display:inline-block; width:32px; height:32px; border-radius:16px; background:url(/pic/flag-ru.svg) center center no-repeat; background-size:100% 100%;}
.lang a.en {background:url(/pic/flag-ru.svg) center center no-repeat; background-size:100% 100%;}
.forgot a, .forgot span {display:inline-block; vertical-align:middle;}
.forgot span {width:30px; height:20px; padding:3px 0px 7px; font-size:20px; background-color:var(--color-grey); color:#ffffff; border:1px solid var(--color-basic); border-radius:16px; text-align:center;}
.forgot a {padding:5px 0px 5px 0px; width:0px; height:20px; margin:0px -14px 0px 0px; text-decoration:none; text-transform:lowercase; font-size:12px; border-bottom:1px solid var(--color-grey); border-left:1px solid var(--color-grey); border-top:1px solid var(--color-grey); border-radius:16px 0px 0px 16px; overflow:hidden; transition:0.2s;}
.forgot:hover a {width:92px; padding:5px 18px 5px 0px;}

.param-visual div {font-size:24px; color:var(--color-front);}
.check-success {padding:10px 0px; text-align:center; color:var(--color-front); background-color:#e8ffe8;}
.checked {background-color:$ffffff; opacity:0.3; transition:3s;}
.card-data {width:300px; height:170px; margin: auto; position:relative;}
.card-data img {max-width:100%; margin-bottom:10px;}
.card-data-front {width:240px; position:absolute; left:0px; padding:10px 20px 20px; clip-path:polygon(0% 0%, 100% 0%, 100% 40px, 178px 100%, 0% 100%); background-color:var(--color-front); border: 2px solid var(--color-grey); border-radius:8px; z-index:10;}
.card-backdata {position: absolute; width: 240px; height: 130px; padding:20px; background-color: #e0e0e0; border: 2px solid var(--color-grey); border-radius: 8px; right: 0px; top: 20px;}
.card-data-front label {width:80%;}
.card-data label {text-align:left; margin:0px 0px 20px;}
.card-data label input {height: 20px; font-size:18px;}
.card-data label.pay-thru {margin:0px;}
.card-data label.pay-thru input {width:25%;}
.card-backdata label {position:absolute; width:25%; right:10px; top:120px;}
.card-data-front::after {content:""; display:block; position:absolute; width:2px; height:200px; top: 16px; left: 219px; transform: rotate(38deg); background-color: #000000;}

.ticket-wrap {width:280px; height:380px; padding:40px 0px 10px; margin:0px auto 20px; background:url(/pic/ful-ticket.svg) center top no-repeat; background-size:100% auto;}
.param-visual div, .param-visual div span {font-size:16px; color:#000000; font-weight:700;}
.param-visual {margin-bottom:10px;}

.pay-form .io {margin:120px auto 20px; height:90px; padding:30px 0px 10px; background:url(/pic/half-ticket.svg) center top no-repeat; border-bottom:5px solid #000000; background-size:auto 100%;}
.pay-form p {margin:0px; font-size:18px; color:#000000; font-weight:700;}

@media (max-width: 777px) {
.all {margin:0px; padding:10px; border:0px;}
label {width:90%;}
input::placeholder {font-size:14px;}
.popup {position:absolute; width:84%; left:4%; margin-left:0px; padding:4%;}
.logo {max-width:400px;}
.admin .dual {flex-wrap:wrap;}
.admin .dual > div {width:100%;}
.stack-unit span, .stack-unit a {padding:0px 3px; font-size:13px;}
.play-button {right: -5px;}
}


.modal {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal .container img {
	display: block;
	margin: 0 auto;
}
.modal .container .message {
	text-transform: capitalize;
	font-family: Arimo;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

.container {
	width: 912px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}
.search-container {
	margin: 50px 0 20px 0;
	width: 912px;
}
.search-container input[type="text"] {
	height: 50px;
	width: 800px;
	background: #FFFFFF;
	border: 2px solid #000000;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 0 10px;
}
.search-container .find {
	display: inline;
	position: relative;
	top: 21px;
	padding: 0;
	margin: 0;
	width: 52px;
	height: 52px;
	background-image: url('/pic/find.png');
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: #ffffff;
}
.search-container .find:active {
	outline: none;
	border: none;
}
.search-container form {
	display: inline-block;
}
.search-container .add {
	display: inline-block;
	position: relative;
	top: 21px;
	padding: 0;
	margin: 0;
	width: 52px;
	height: 52px;
	background-image: url('/pic/plus.png');
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: #ffffff;
}

.table-container {
	display: inline-block;
	width: 912px;
	border: 2px solid #000000;
	border-radius: 5px;
}
.row {
	height: 50px;
	position: relative;
}
.row .text {
	display: inline-block;
	width: 100%;
	font-family: Arimo;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;
	text-indent: 5px;
	text-align: left;
	color: #000000;
}
.row:nth-child(odd) {
	background: #8CAA2425;
}
.row .delete{
    display: none;
    position: absolute;
    top: 9px;
    left: 910px;
    background-image: url(/pic/delete.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    width: 30px;
    height: 29px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 15px 15px 0px;
    padding: 3px 11px 3px 45px;
    z-index: -1;
}
.row .edit{
	display: inline-block;
	position: absolute;
    top: 9px;
    left: 898px;
	background-image: url('/pic/edit.png');
	background-size: cover;
    background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.qr-btn {
	display: inline-block;
	position: absolute;
    top: 9px;
    left: 858px;
	background-image: url('/pic/qr.png');
	background-size: cover;
    background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
header {
	width: 100vw;
	height: 50px;
	background: #8CAA24;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.menu {
	display: inline-block;
	font-family: Arimo;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;
	padding: 0 5px;
}
.menu:after {
	content: ' ';
	display: inline-block;
	position: relative;
    top: 9px;
    left: 7px;
	width: 3px;
		height: 33px;
	background-image: url('/pic/separator.png');
}
.menu a {
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
}