@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700&subset=cyrillic'; 

:root
{
--color-front:#66921b;
--color-back:#e2683c;
--color-front2:#a9c45e;
--color-middle:#f9ab00;
--color-light:#f9df7b;
--color-grey:#a8a8a8;
--color-basic:#575757;
}

body {margin:0px; font-family:"Exo 2", sans-serif; color:var(--color-basic); font-size:16px;}
p, li, span, div, td, label, input, select {color:inherit;}
a {color:var(--color-back);}
a:hover {color:var(--color-middle);}
label {display:block; width:400px; margin:0px auto 20px;}
label span {display:block; font-size:14px; color:var(--color-grey);}
input[type=text], input[type=password], select {width:calc(100% - 18px); height:28px; padding:7px; border:2px solid var(--color-grey); border-radius:8px; font-size:24px; color:inherit; transition:0.3s;}
select {width:100%; height:42px; font-size:20px;}
input[type=text]:focus, input[type=password]:focus {border:2px solid var(--color-back); outline:none;}
input::placeholder {color:var(--color-grey); font-size:16px; font-weight:300;}
h1, h2, h3 {color:var(--color-grey); margin:0px;}
h1 {font-size:32px; font-weight:500;}
h2 {font-size:24px; font-weight:500;}

.all {max-width:1058px; margin:20px auto; padding:20px; border:1px solid var(--color-front); border-radius:40px;}
.io {position:relative;}
/*.h1 {position:absolute; width:100%; top:60px; opacity:0.7; text-align:center;}*/
.h1 {display:none;}
.main {max-width:540px; margin:auto; text-align:center;}
.popup {display:none;}
.h1 h1 {text-align:center;}
.p-large {font-size:24px; color:var(--color-front);}

#auth, #register {position:relative;}
.art-button {display:inline-block; font-weight:500; color:#ffffff; background-color:var(--color-front); border-radius:32px; text-align:center; text-decoration:none; outline:none; transition:0.3s;}
.art-button:hover {background-color:var(--color-front2); color:#ffffff;}
.play-button {position:absolute; right:-5px; width:54px; height:24px; top:24px; padding:9px 0px 21px; font-size:48px; line-height:24px; font-weight:700; border:5px solid #ffffff;}
.play-button:focus {border:5px solid var(--color-back);}
.get-low {top:220px;}
.btn-large {padding:12px 20px; font-size:18px; min-width:180px;}
.btn-small {padding:10px 16px; font-size:16px; width:110px;}
.art-button.art22 {background-color:var(--color-grey);}
.round-button {display:block; width:48px; padding:0px 0px 8px; background:var(--color-front); color:#ffffff; font-size:44px; line-height:40px; font-weight:300; text-decoration:none; border-radius:32px; text-align:center;}
.round-button:hover {background-color:var(--color-back); color:#ffffff;}
.buy-button a {width:100px; height:40px; padding:30px 0px; border-radius:50px;}
.buy-button {margin:10px 0px;}

.forgot {text-align:right; width:400px; margin:-10px auto 0px;}
.forgot a, .forgot span {display:inline-block; vertical-align:middle;}
.forgot span {width:30px; height:20px; padding:3px 0px 7px; font-size:20px; background-color:var(--color-grey); color:#ffffff; border:1px solid var(--color-basic); border-radius:16px; text-align:center;}
.forgot a {padding:5px 0px 5px 0px; width:0px; height:20px; margin:0px -14px 0px 0px; text-decoration:none; text-transform:lowercase; font-size:14px; border-bottom:1px solid var(--color-grey); border-left:1px solid var(--color-grey); border-top:1px solid var(--color-grey); border-radius:16px 0px 0px 16px; overflow:hidden; transition:0.2s;}
.forgot:hover a {width:110px; padding:5px 24px 5px 12px;}

.sms-code {display:none;}
label.onepay {margin-top:30px;}
.logo {position:relative; padding:0px; height:140px; margin:auto; text-align:center;}
.logo-img img {height:120px; width:auto;}
.flags {display:block; position:absolute; top:10px; right:10px; text-align:center; text-decoration:none;}
.flags img {height:20px;}
.flags span {display:block; font-weight:500; font-size:14px;}
.error {display:none;}
p.error {color: #cc0000; padding: 0px 0px 4px; border-bottom: 1px solid #cc0000;}
.dual {display:flex;}
.dual > div {width:44%; padding:0px 3% 10px; text-align:center;}
.admin .dual > div:first-child {border-right:1px solid #d8d8d8;}
.balance {padding:10px; height:140px; background-color:#f8f8f8;}
.balance .money-digit {font-size:48px; color:var(--color-front); vertical-align:middle;}
.balance .money .money-currency {display:block; font-size:24px; height:40px; color:var(--color-grey);}
.real-ticket {height:140px;}
.real-ticket span {display:block; padding:20px 20px; height:50px; margin:30px 0px 20px; color:var(--color-middle); font-size:13px;}
.real-ticket a {display:block; padding:40px 15px; height:50px; margin:20px 0px; color:var(--color-back); font-size:13px; background:url(/pic/ticket-bg.png) center center no-repeat; background-size:100% auto;}
#outdiv {width:300px; height:300px; margin:10px auto; border-radius:24px; overflow:hidden;}
#outdiv video {width:100%;}
#qr-canvas {display:none;}
.admin .dual h2 {margin:20px 0px 4px;}
.register-link a {font-size:22px;}

.popup {position:absolute; width:720px; margin-left:-360px; top:100px; left:50%; padding:10px; background-color:#ffffff; box-shadow:2px 2px 9px #000000; border-radius:32px 0px 32px 0px;}
.popup .close {display:block; position:absolute; right:16px; top:12px; color:var(--color-back); font-size:24px; text-decoration:none;}
#addfunds {padding:60px 4% 20px;}
#addfunds label {width:220px;}

.stack {text-align:left;}
.stack h2.cntr {text-align:center;}

.fl-right {float:right;}
.search input {width:240px; height:20px; font-size:20px;}

.stack-unit {display:block; padding:2px 0px; margin:2px 0px 0px; background-color:#f0f0f0;}
.stack-unit span, .stack-unit a {display:inline-block; padding:0px 6px; border-right:1px solid #d0d0d0;}
.stack-unit .stack-name {width:40%;}
.stack-unit .stack-tariff {width:20%;}
.stack-unit .stack-role {width:30%;}
.stack-unit .stack-num {width:20%;}

.exit-button {margin-top:80px; text-align:center;}

.param-visual div {font-size:24px; color:var(--color-front);}
.check-success {padding:10px 0px; text-align:center; color:var(--color-front); background-color:#e8ffe8;}
.checked {background-color:$ffffff; opacity:0.3; transition:3s;}

@media (max-width: 777px) {
.all {margin:0px; padding:10px; border:0px;}
label {width:90%;}
input::placeholder {font-size:14px;}
.popup {position:absolute; width:84%; left:4%; margin-left:0px; padding:4%;}
.logo {max-width:400px;}
.admin .dual {flex-wrap:wrap;}
.admin .dual > div {width:100%;}
.stack-unit span, .stack-unit a {padding:0px 3px; font-size:13px;}
.forgot {width:90%;}
}

.param-qr {
	text-align: center;
}
.qr-code {
	display: inline-block;
}