<header>
	<div class="menu"><a href="">АДМИНИСТРАТОР</a></div>
	<div class="menu"><a href="">МАРШРУТЫ</a></div>
	<div class="menu"><a href="">ТРАНСПОРТНЫЕ СРЕДСТВА</a></div>
	<div class="menu"><a href="">КОНТРОЛЕРЫ</a></div>
</header>
<div class="container">
	<div class="search-container">
		<form action="" method="">
			<input type="hidden" name="route">
			<input type="text" name="" class="search" placeholder="Введите название...">
			<input type="submit" name="search" value="" class="find">
		</form>
		<div class="add" id='add'></div>
	</div>

	<div class="table-container">
		<div class="row">
			<div class="text">Название маршрута</div>
			<div class="edit"></div>
			<div class="delete"></div>
			<div class="qr-btn"></div>
		</div>
		<div class="row">
			<div class="text">Название маршрута</div>
			<div class="edit"></div>
			<div class="delete"></div>
			<div class="qr-btn"></div>
		</div>
		<div class="row">
			<div class="text">Название маршрута</div>
			<div class="edit"></div>
			<div class="delete"></div>
			<div class="qr-btn"></div>
		</div>
	</div>
</div>
